<!DOCTYPE html>
<html lang="zh">
<head>
    <title>课堂回顾</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.replay.css"/>
    <link rel="stylesheet" type="text/css" href="../css/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" type="text/css" href="../css/template.css"/>
</head>

<body>
<section class="nino-testimonial">
    <div class="container" style="width: 60%">
        <div class="nino-testimonialSlider">
            <div layout="row">
                <div class="nino-symbol fsr">
                    <img src="../images/message.png" style="width: 100px">
                </div>
                <div>
                    <span class="name" style="color:#33CCFF;">课堂基本信息</span>
                    <p class="quote">形式与政策<br>教师：王鹏<br>周五 13:50-15:30<br>江安校区综合楼C座103<br></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="padding-top: 20px">
    <div class="container">
        <h2 class="nino-sectionHeading">
            <span class="nino-subHeading">What we See</span>
            本节课详细情况
        </h2>
        <p class="nino-sectionDesc">
            在这里可以回顾之前上课的过程，有教师的录像视频与学生的录像视频，对于课堂中出现的不良现象，会有
            详细的记录与截图，可供查看与回顾。<br>感谢您对EduWatching的支持。
        </p>
    </div>
</section>

<section id="nino-whatWeDo">
    <div class="container">
        <div>
            <div class="row">
                <div class="panel-group" id="accordion" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                                   aria-expanded="true" aria-controls="collapseOne">
                                    教师课堂行为反馈
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in"
                             aria-labelledby="headingOne">
                            <div class="panel-body">
                                <table class="table">
                                    <thead>
                                    <tr class="bg-info text-white">
                                        <th>时间</th>
                                        <th>描述</th>
                                        <th>音频</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">14:55</th>
                                        <td>语速过快</td>
                                        <td><a>音频</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">15:25</th>
                                        <td>语速过快</td>
                                        <td><a>音频</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    学生课堂行为反馈
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel"
                             aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <thead>
                                    <tr class="bg-info">
                                        <th>时间</th>
                                        <th>描述</th>
                                        <th>截图</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">13:55</th>
                                        <td>学生人数较少</td>
                                        <td><a>截图</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">13:56</th>
                                        <td>学生人数较少</td>
                                        <td><a>截图</a></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">14:00</th>
                                        <td>玩手机人数较多</td>
                                        <td><a>截图</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section style="padding-bottom: 0; padding-top: 40px">
    <div class="container">
        <div class="sectionContent" id="header">
            <div class="row nino-hoverEffect">
                <div class="col-md-4 col-sm-4">
                    <div class="item">
                        <a class="overlay">
                            <img src="../images/3-2.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="item">
                        <a class="overlay">
                            <img src="../images/3-1.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="item">
                        <a class="overlay">
                            <img src="../images/3-3.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.replay.js"></script>
<script type="text/javascript" src="../js/jquery.mCustomScrollbar.concat.min.js"></script>
<script type="text/javascript" src="../js/unslider-min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $("#nino-whatWeDo .panel-body").mCustomScrollbar({
            theme: "default"
        });
    });
</script>
</body>
</html>